# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.qm
Internationalization.lang

# QtCreator
*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

# Python
venv/*

# Snapcraft
parts/
prime/
stage/
*.snap
.snapcraft/
flameshot*.tar.bz2

.vscode/
external/
build/
release/
rpm/BUILD/
rpm/BUILDROOT/
rpm/*RPMS/
rpm/SOURCES/
debug*.list
elfbins.list
data/flatpak/.flatpak-builder
# NVIM
*~

# Jetbrains
.idea/
.run

# MacOS
.DS_Store

# Miscellaneous
!docs/dev/Makefile

# Nix
result
result-*

# direnv
.direnv
