Source: flameshot
Section: graphics
Priority: optional
Maintainer: Quentin Lienhardt <pro@quentium.fr>
Build-Depends:
 cmake,
 debhelper (>= 13),
 git,
 qt6-base-dev,
 qt6-tools-dev,
 qt6-tools-dev-tools,
 qt6-l10n-tools,
 libqt6svg6-dev,
 qt6-wayland-dev,
 libkdsingleapplication-qt6-dev <trixie> <forky> <noble> <resolute>,
 libgl-dev,
 libxkbcommon-dev,
 libvulkan-dev,
Standards-Version: 4.7.4
Rules-Requires-Root: no
Vcs-Browser: https://github.com/flameshot-org/flameshot
Vcs-Git: https://github.com/flameshot-org/flameshot.git
Homepage: https://flameshot.org/

Package: flameshot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends:
 xdg-desktop-portal-gtk | xdg-desktop-portal-gnome | xdg-desktop-portal-kde | xdg-desktop-portal-wlr,
 grim,
Suggests:
 ca-certificates,
 openssl,
 qt6-image-formats-plugins,
Description: Powerful yet simple to use screenshot software
 Notable features include customizable appearance, in-app screenshot editing, D-Bus interface, tray icon support, experimental GNOME/KDE Wayland support, integration with Imgur and support for both GUI and CLI interface.
