#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND += -Wl,--as-needed

%:
	dh $@ 

override_dh_auto_configure:
	# Check if kdsingleapplication dependencies are installed \
	if dpkg -s libkdsingleapplication-qt6-dev > /dev/null 2>&1; then \
		EXTRA_FLAGS="-DUSE_BUNDLED_KDSINGLEAPPLICATION=OFF"; \
	else \
		EXTRA_FLAGS="-DUSE_BUNDLED_KDSINGLEAPPLICATION=ON"; \
	fi; \
	# The existence of an empty .git directory triggers syncqt \
	mkdir .git || true \
	# This is required to use CMake FetchContent \
	dh_auto_configure -- \
		-DFETCHCONTENT_FULLY_DISCONNECTED=OFF \
		-DCMAKE_BUILD_TYPE=Release \
		$$EXTRA_FLAGS
